aclocal.m4
autom4te.cache
build-aux
configure
config.log
config.status
Makefile
Makefile.in
src/config.h.in
.deps
.dirstamp
*.o
*.la
*.lo
src/config.h
src/stamp-h1
doc/en/*.1
doc/en/*.5
sidplayfp-*.tar.gz
src/sidplayfp*
src/stilview*
