Source: sidplayfp
Section: sound
Priority: optional
Maintainer: Laszlo Boszormenyi (GCS) <gcs@debian.hu>
Build-Depends: debhelper (>= 5.0.0), libsidplayfp-dev (>= 0.2), pkg-config, chrpath
Homepage: http://sourceforge.net/projects/sidplay-residfp/
Standards-Version: 3.7.3

Package: sidplayfp
Architecture: any
Depends: ${shlibs:Depends}
Description: Music player for tunes from C64 and C128 (console)
 This is a simple music player for C64 and C128 tunes, also known as
 SID tunes.
