name: CI

on:
  push:
    branches:
      - master
      - sidplayfp-2.16
  pull_request:
    branches:
      - master
      - sidplayfp-2.16

permissions:
  contents: read
  pull-requests: write

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: deps
      run: sudo apt-get install gettext libsidplayfp-dev libstilview-dev libmpg123-dev
    - uses: actions/checkout@v4
    - name: bootstrap
      run: autoreconf -vfi
    - name: configure
      run: ./configure
    - name: make distcheck
      run: make distcheck
