name: Build W64 Release

on:
  release:
     types: [published]

permissions:
  contents: write

jobs:
  build:
    runs-on: windows-latest
    defaults:
      run:
        shell: msys2 {0}

    steps:
    - uses: msys2/setup-msys2@v2
      with:
        update: true
        install: >-
          git
          zip
          upx
          base-devel
          mingw-w64-x86_64-toolchain
          mingw-w64-x86_64-autotools
    - uses: dsaltares/fetch-gh-release-asset@master
      with:
        repo: 'libsidplayfp/libsidplayfp'
        regex: true
        file: "libsidplayfp-.*\\.tar\\.gz"
        target: 'subdir/'
    - name: build-lib
      run: |
        cd subdir
        export LDFLAGS="-s -Wl,-no-undefined -Wl,-O1 -static"
        export CXXFLAGS="-O2 -march=x86-64-v2 -fomit-frame-pointer -ftree-vectorize -pipe -DUNICODE"
        export PKG_CONFIG="pkg-config --static"
        tar -xf libsidplayfp*.tar.gz
        cd libsidplayfp*/.
        ./configure --disable-dependency-tracking --disable-shared --enable-static --without-gcrypt --enable-hardsid
        make && make install
    - uses: actions/checkout@v4
      with:
        ref: ${{ github.ref }}
    - name: Get the tag name
      id: get_tag_name
      run: echo "tagname=${GITHUB_REF#refs/tags/}" >> $GITHUB_OUTPUT
    - name: build
      run: |
        export LDFLAGS="-s -Wl,-no-undefined -Wl,-O1 -static"
        export CXXFLAGS="-O2 -march=x86-64-v2 -fomit-frame-pointer -ftree-vectorize -pipe -DUNICODE"
        export PKG_CONFIG="pkg-config --static"
        autoreconf -vfi
        ./configure --disable-dependency-tracking
        make
        mv src/*.exe .
        strip *.exe
        upx *.exe
        pod2text doc/en/sidplayfp.ini.pod > sidplayfp.ini.txt
        pod2text doc/en/sidplayfp.pod > sidplayfp.txt
        pod2text doc/en/stilview.pod > stilview.txt
        zip sidplayfp-w64-${{ steps.get_tag_name.outputs.tagname }}.zip *.exe README AUTHORS *.txt
    - uses: svenstaro/upload-release-action@v2
      with:
        repo_token: ${{ secrets.GITHUB_TOKEN }}
        file: sidplayfp-w64-${{ steps.get_tag_name.outputs.tagname }}.zip
        tag: ${{ github.ref }}
        file_glob: true
        overwrite: true
